### Intellij ###

# User-specific stuff:
.idea/
*.iml

### Linux ###
*~
.fuse_hidden*
.directory
.nfs*

### Rust ###
/target/
**/*.rs.bk

### Windows ###
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
